/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

//colors: http://www.colourlovers.com/palette/2964362/Alice_in_Wonderland

$light_blue: #466B82;
$dark_blue: #67A0AB;

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #EBEEF5;
  padding: 20px;
}

a {
  color: #67A0AB;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}

#heading {
  margin-bottom: 50px;
  h1 {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 50px;
    color: $light_blue;
    font-family: 'Bree Serif', serif;
    font-size: 64px;
  }
  sub {
    color: $dark_blue;
    font-size: 15px;
  }
}

footer {
  text-align: right;
  color: #ddd;
}

#wrapper {
  margin: 0px auto;
  width: 970px;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#about {
  
}

#projects {
  dt {
    span {
      padding: 5px;
      border-bottom: 2px solid #ddd;
      font-weight: bold;
      display: block;
      float: left;
    }
    .tags {
      list-style-type: none;
      margin: 0 10px;
      padding: 7px 0;
      float: left;
      li {
        display: block;
        float: left;
        margin-right: 5px;
        background: #ccc;
        color: black;
        font-size: 11px;
        padding: 3px 5px;
        border-radius: 5px;
      }
    }
  }
  dd {
    margin-bottom: 40px;
  }
}
