/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

//colors: http://www.colourlovers.com/palette/2964362/Alice_in_Wonderland
// $light_blue: #466B82;
// $dark_blue: #67A0AB;
// $light_gray: #ddd;
// $dark_gray: #bfbfbf;

//colors: http://www.colourlovers.com/web/trends/websites/7853/KICKSTARTER
$text: #242729;
$link: #C6491A;
$background: #FDFFE3;
$col: #eee;
$highlight: #D3741C;


body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #fff;
  padding: 0;
}

.main_content {
  padding: 0 15px 20px 15px;
}

p,
li {
  line-height: 1.5em;
}

a {
  color: $link;
  text-decoration: underline;
  font-weight: normal;

  &:hover {
    text-decoration: none;
  }
}

#heading {
  background: $col;
  padding: 10px 0;

  h1 {
    font-size: 4.125em;
    font-family: 'Bree Serif', serif;
    color: $text;
    margin: 0 0 5px 0;
    padding: 0 15px;
  }

  p {
    color: $text;
    padding: 0 15px;
  }
}

h2 {
  font-size: 2.5em;
  font-family: 'Bree Serif', serif;
  color: $text;
  border-bottom: 1px solid $col;
  margin: 15px;
  a {
    color: $text;
  }
}

footer {
  text-align: right;
  color: #ddd;
}

.wrapper {
  margin: 0px auto;
  max-width: 970px;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#about {
  padding-bottom: 0;
}

#projects {
  h2 {
    margin-top: 0;
  }

  article {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $col;

    .main_content {
      padding: 0;
    }

    h3 {
      font-family: 'Bree Serif', serif;
      font-size: 1.7em;
      margin: 0;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .project_url {
      margin-bottom: 0;


      a {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;

        background: $link;
        padding: 4px 10px;
        margin: 0;
        color: #fff;
        text-decoration: none;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:hover {
          opacity: .85;
        }
      }
    }

    .tags {
      margin: 0;
      padding: 10px 0;

      li {
        display: inline-block;
        list-style: none;

        &.tag {
          background: $text;
          color: #fff;
          padding: 3px 6px;
          text-transform: uppercase;
          font-size: .65em;

          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px;
        }
      }
    }
  }

  .links {
    .host {
      color: #aaa;
    }
  }
}
